<h2> {{ name }}</h2>

<dl>

    <td>Nombre:</td>
    <dd> {{ name }} </dd>

    <td>Edad:</td>
    <dd> {{ age }} </dd>

    <td>Metodo:</td>
    <dd> {{ getHeroDescription() }} </dd>

    <td>Capitalizacion:</td>
    <dd> {{ capitalizedName.toUpperCase() }} </dd>
</dl>

<button 

    *ngIf="name !=='Spiderman'"
    
    (click)="changeHero()"
    class="btn btn-primary mx-2">
    Cambiar Nombre
</button>

<button 

    *ngIf="age !== 45"
    (click)="changeAge()"
    class="btn btn-danger">
    Cambiar edad
</button>

<button
  (click)="resetForm()"
  class="btn btn-primary mx-2">
  reset
</button>